[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
nb-black = "*"
requests = "*"
pandas = "*"
plotly = "*"

[dev-packages]

[requires]
python_version = "3.8"
